<p style="color: green"><%= notice %></p>

<%= @passenger.name %>
<br>
<%= @passenger.email %>
<br>
<br>

<div>
  <%= link_to "Back to flights", flights_path %>
</div>

<%= link_to "All flights", root_path %>
