

<%= form_with url: search_flights_path, method: :get do |form| %>
  <%= form.label :departure_airport, "Departure Airport" %>
  <%= form.select :departure_airport, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] }, { include_blank: 'Select Airport' } %>

  <br>

  <%= form.label :arrival_airport, "Arrival Airport" %>
  <%= form.select :arrival_airport, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] }, { include_blank: 'Select Airport' } %>

  <br>

  <%= form.label :number_of_passengers, "Number of Passengers" %>
  <%= form.select :number_of_passengers, (1..4).to_a, { include_blank: 'Select Number' }%>

  <br>

  <%= form.label :flight_date, "Flight Date" %>
  <%= form.datetime_select :flight_date, { include_blank: "Select Date and Time" } %>

  <br>

  <%= form.submit "Search" %>
<% end %>


<%# Dropdowns %>




<%# End of Dropdowns %>




<p style="color: green"><%= notice %></p>

<% content_for :title, "Flights" %>

<h1>Flights</h1>

<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight %>
    <p>
      <%= link_to "Show this flight", flight %>
    </p>
    <br>
  <% end %>
</div>


<%= link_to "New flight", new_flight_path %>
