<p style="color: green"><%= notice %></p>

<div data-controller="colorme">
<%# Search form %>
<h1 data-colorme-target='text'>Search for Flights</h1>
<%= form_with url: flights_path, method: :get do |form| %>
  <%= form.label :departure_airport, "Departure Airport" %>
  <%= form.select :departure_airport, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] }, { include_blank: 'Select Airport' } %>

  <br>

  <%= form.label :arrival_airport, "Arrival Airport" %>
  <%= form.select :arrival_airport, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] }, { include_blank: 'Select Airport' } %>

  <br>

  <%= form.label :number_of_passengers, "Number of Passengers" %>
  <%= form.select :number_of_passengers, (1..4).to_a, { include_blank: 'Select Number' }, { required: true } %>


  <br>

  <%= label_tag :flight_date, "Flight Date" %>
  <%= form.select :flight_date, Flight.order(:start_date_time).map {
    |flight| [flight.start_date_time.strftime("%m/%d/%Y"), flight.start_date_time.strftime("%m/%d/%Y")]}, { include_blank: 'Select Date and Time' }%>


  <br>

  <%= form.submit "Search" %>
  <button data-action="click->colorme#displayFlights" data-colorme-target='display'>Display Flights</button>
<% end %>

<br>


  <h2 data-colorme-target='text'>Texty Text</h2>
  <button data-action='click->colorme#changeToRed'>Color Me!</button>


<%# End Search form %>



<%# Selection form %>

<div data-colorme-target='flights' hidden>
  <% content_for :title, "Flights" %>
  <h1 data-colorme-target='text'>Flights</h1>
  
  <%= form_with url: new_booking_path, method: :get, local: true do |form| %>
  
      <%= form.hidden_field :number_of_passengers, value: @number_of_passengers %>
  
  
      <% @flights.each do |flight| %>
        <% flight_details = capture do %>
          <%= render partial: "flight", locals: { flight: flight } %>
        <% end %>
  
        <%= form.radio_button :selected_flight, flight.id %>
  
        <%= flight_details.html_safe %>
  
  
  
        <p>
          <%= link_to "Show this flight", flight %>
        </p>
        <br>
      <% end %>
  
      <%= form.submit 'Book this flight' %>
  <% end %>
</div>

<%# End Selection form %>



<%= link_to "New flight", new_flight_path %>
<%= link_to "All flights", root_path %>

</div>