<%# Create a search form to submit using GET (not POST) request back to the same URL %>


<%= form_tag search_flights_path, method: :get do %>
  <%= text_field_tag :search, nil, placeholder: 'Search' %>
  <%= submit_tag "Search" %>
<% end %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Flights" %>

<h1>Flights</h1>

<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight %>
    <p>
      <%= link_to "Show this flight", flight %>
    </p>
  <% end %>
</div>

<%= link_to "New flight", new_flight_path %>
