<p style="color: green"><%= notice %></p>


<%# Search form %>

<%= form_with url: flights_path, method: :get do |form| %>
  <%= form.label :departure_airport, "Departure Airport" %>
  <%= form.select :departure_airport, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] }, { include_blank: 'Select Airport' } %>

  <br>

  <%= form.label :arrival_airport, "Arrival Airport" %>
  <%= form.select :arrival_airport, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] }, { include_blank: 'Select Airport' } %>

  <br>

  <%= form.label :number_of_passengers, "Number of Passengers" %>
  <%= form.select :number_of_passengers, (1..4).to_a, { include_blank: 'Select Number' }%>

  <br>

  <%= label_tag :flight_date, "Flight Date" %>
  <%= form.select :flight_date, Flight.order(:start_date_time).map {
    |flight| [flight.start_date_time.strftime("%m/%d/%Y"), flight.start_date_time.strftime("%m/%d/%Y")]}, { include_blank: 'Select Date and Time' }%>


  <br>

  <%= form.submit "Search" %>
<% end %>

<br>

<%# End Search form %>



<%# Selection form %>

<h2>Selection form goes here</h2>

<% content_for :title, "Flights" %>
<h1>Flights</h1>

<%= form_with url: flights_path, method: :get do |form| %>


    <% @flights.each do |flight| %>
      <% flight_details = capture do %>
        <%= render partial: "flight", locals: { flight: flight } %>
      <% end %>

      <%= form.radio_button :selected_flight, flight_details.html_safe %>

      <%= flight_details.html_safe %>
 
      <%= hidden_field :number_of_passengers, :number_of_passengers %>
      
      <p>
        <%= link_to "Show this flight", flight %>
      </p>
      <br>
    <% end %>

    <%= form.submit 'Book this flight' %>
<% end %>


<h2>End of selection form</h2>
<%# End Selection form %>



<%= link_to "New flight", new_flight_path %>

<%= link_to "All flights", root_path %>