<%# Selected Booking %>

<% content_for :title, "New booking" %>

<h1>Selected Booking</h1>

<%= form_with(model: @booking, local: true) do |form| %>

  <p>Number of passengers: </p>
  <%= @number_of_passengers %>
  <h3>Selected flight: </h3>

  <% if @flight %>
    <%= @flight.departure_airport.airport_code %>
    -->
    <%= @flight.arrival_airport.airport_code %>
    <br>
    <br>
    <%= @flight.start_date_time.strftime("%m/%d/%Y %H:%M:%S") %>
    <br>
    <br>
    <p><%= @flight.flight_duration %> minutes</p>
  <% else %>
    <p>no flight........</p>
  <% end %>
  <br>
  <%# End Selected Booking %>


  <%# Passenger Information %>

    <%= form.hidden_field :flight_id, value: @flight.id %>

    <% @booking.passengers.each_with_index do |passenger, i| %>
        <h2>Passenger Details</h2>
        

        <%= form.fields_for :passengers, passenger do |passenger_form| %>
          <%= passenger_form.label :name, "Passenger #{i + 1} Name" %>
          <%= passenger_form.text_field :name %>
          <br>
          <%= passenger_form.label :email, "Passenger #{i + 1} Email" %>
          <%= passenger_form.text_field :email %>
        <% end %>
    
      <br>
    <% end %>

  <%= form.submit 'Book it!' %>
  <%# End Passenger Information %>
<% end %>



